#series{
    margin: 20px auto;
    max-width: 300px;
}
#series .serieResume{
    margin: 5px 0px;
    padding: 3px;
}
#series .serieResume:nth-of-type(odd){
    background: #ddd;
}
#series .serieResume .date{
    display: inline-block;
    width: 50%;
    text-align: left;
}
#series .serieResume .total{
    display: inline-block;
    width: 30%;
    text-align: right;
}

.serieDetails .total {
    position: relative;
    margin: 10px auto;
    width: 150px;
    text-align:center;
    font-size: 2em;
    background: #288E18;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.serieDetails .volees {
    position: relative;
    width: 60%;
    margin: 0 auto 20px auto;
    border: 1px solid #333333;
    border-radius: 10px;
}
.serieDetails .volees .num_volee {
    display: inline-block;
    background: #1B809E;
    text-align:center;
    min-width: 25px;
    padding: 2px;
    border-radius: 8px;
    color: white;
    margin: 3px 10px;
}
.serieDetails .volees .fleche {
    display: inline-block;
    text-align:center;
    min-width: 25px;
    padding: 2px;
    margin: 3px 10px;
}
.serieDetails .volees .fleche.val10, .serieDetails .volees .fleche.val9{
    background: #FBD400;
}
.serieDetails .volees .fleche.val8, .serieDetails .volees .fleche.val7{
    background: #D91919;
    color: white;
}
.serieDetails .volees .fleche.val6, .serieDetails .volees .fleche.val5{
    background: #009ECE;
    color: white;
}
.serieDetails .volees .fleche.val4, .serieDetails .volees .fleche.val3{
    background: #000000;
    color: white;
}
.serieDetails .volees .fleche.val2, .serieDetails .volees .fleche.val1{
    background: #FFFFFF;
}
