#saisie {
    text-align: center;
}
#saisie_volee {
    padding: 20px 5px;
    font-size: 1.3em;
}
#saisie .saisie_pts{
    margin: 0px 0px 10px 0px;
    
}
#saisie .saisie_pts button{
    font-size: 2em;
}
#saisie_volee .zoneScores {
    display: block;
}
#saisie_volee .scoreFleche {
    width: 35px;
    padding: 3px;
    text-align:center;
    border-radius: 5px;
    border: 1px solid #333333;
    margin: 5px;
}
#total {
    position: relative;
    margin: 10px auto;
    width: 150px;
    text-align:center;
    font-size: 2em;
    background: #288E18;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
#volees {
    position: relative;
    width: 95%;
    margin: 0 auto 20px auto;
    height: 90px;
    overflow-y: scroll;
    border: 1px solid #333333;
    border-radius: 10px;
}
#volees .num_volee {
    display: inline-block;
    background: #1B809E;
    text-align:center;
    min-width: 25px;
    padding: 2px;
    border-radius: 8px;
    color: white;
    margin: 3px 10px;
}
#volees .fleche {
    display: inline-block;
    text-align:center;
    min-width: 25px;
    padding: 2px;
    margin: 3px 8px;
}
#volees .fleche.val10, #volees .fleche.val9{
    background: #FBD400;
}
#volees .fleche.val8, #volees .fleche.val7{
    background: #D91919;
    color: white;
}
#volees .fleche.val6, #volees .fleche.val5{
    background: #009ECE;
}
#volees .fleche.val4, #volees .fleche.val3{
    background: #000000;
    color: white;
}
#volees .fleche.val2, #volees .fleche.val1{
    background: #FFFFFF;
}
#volees .fleche.val0{
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #cccccc 1px,
      #ffffff 2px,
      #ffffff 4px
    );
}
#statColors{
    position: relative;
    height: 5px;
    width:60%;
    background: white top left no-repeat;
    margin: 5px auto;
    border: 1px solid #666666;
    border-radius: 2px;
}
#formCreateNewSerie .form-group label{
    width: 50%;    
}
#formCreateNewSerie .form-group select{
    display: inline-block;
    width: 30%;    
}
.disabled {
    display: none;
}
.enabled {
    display: block;
}
