<div id="actions_series" class="cols-sm-12">
    <button data-toggle='modal' data-target='#paramNewSerie' class="btn btn-default">Nouvelle série</button>
    <div class='modal ' id='paramNewSerie' tabindex='-1' role='dialog'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span></button>
                    <h4 class='modal-title' id='myModalLabel'>Nouvelles série</h4>
                </div>
                <div class='modal-body' id="formCreateNewSerie">
                    <div class="form-group">
                        <label for="chpNbVolees">Nombre de volées</label>
                        <select class="form-control" name="nbVolees" id="chpNbVolees">
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="10" selected>10</option>
                            <option value="12">12</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chpNbFlechesParVolees">Nb Fleches par volée</label>
                        <select class="form-control" name="nbFlechesParVolees" id="chpNbFlechesParVolees">
                            <option value="3" selected>3</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chpDistance">Distance</label>
                        <select class="form-control" name="distance" id="chpDistance">
                            <option value="10">10 m</option>
                            <option value="15">15 m</option>
                            <option value="18" selected>18 m</option>
                            <option value="20">20 m</option>
                            <option value="25">25 m</option>
                            <option value="30">30 m</option>
                            <option value="40">40 m</option>
                            <option value="50">40 m</option>
                            <option value="60">60 m</option>
                            <option value="70">70 m</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chpBlason">Blason</label>
                        <select class="form-control" name="blason" id="chpBlason">
                        </select>
                    </div>
                    <button type="button" id="NewSerieButton" class="btn btn-success" data-dismiss='modal'>Créer la série</button>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="total" class="cols-sm-12"></div>
<div id="statColors" class="cols-sm-12"></div>
<div id="volees" class="cols-sm-12"></div>
<div id="saisie">
    <form id="saisie_volee">
        <div id="zoneScores">
            <input type="text" name="fleche_1" value="" class="scoreFleche" />
            <input type="text" name="fleche_2" value="" class="scoreFleche" />
            <input type="text" name="fleche_3" value="" class="scoreFleche" />
        </div>
        <button type="button" id="clearButton" class="btn btn-warning">Clear</button>
        <button type="button" id="okVoleeButton" class="btn btn-success">OK</button>
    </form>
    <div class="btn-group btn-group-lg saisie_pts">
        <button type="button" class="pts btn btn-default">10</button>
        <button type="button" class="pts btn btn-default">9</button>
        <button type="button" class="pts btn btn-default">8</button>
        <button type="button" class="pts btn btn-default">7</button>
        <button type="button" class="pts btn btn-default">6</button>
    </div>
    <div class="btn-group btn-group-lg saisie_pts">
        <button type="button" class="pts btn btn-default">5</button>
        <button type="button" class="pts btn btn-default">4</button>
        <button type="button" class="pts btn btn-default">3</button>
        <button type="button" class="pts btn btn-default">2</button>
        <button type="button" class="pts btn btn-default">1</button>
    </div>
</div>
<div id="saveSerie">
    <button type="button" id="SaveSerieButton" class="btn btn-default">Conserver la série</button>
</div>
